<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>PizzaYolo</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
    <script src="app.js"></script>
    <style>
        body {
            margin: 3em;
        }
        .down:after {
            content: '↓'
        }
        .up:after {
            content: '↑'
        }
    </style>
</head>
<body ng-app="app">     

    <div class="container">

        <div ng-controller="MyFirstController as ctrl">
<table class="table">
                <thead>
                    <tr>
                        <th><a ng-class="{ up: ctrl.predicat === 'name' && !ctrl.reverse, down: ctrl.predicat === 'name' && ctrl.reverse}"
                            href="" ng-click="ctrl.sort('name')">Nom</a></th>
                        <th><a ng-class="{ up: ctrl.predicat === 'age' && !ctrl.reverse, down: ctrl.predicat === 'age' && ctrl.reverse}"
                            href="" ng-click="ctrl.sort('age')">Age</a></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="user in ctrl.users  track by $index">
                        <td>{{ user.name }}</td>
                        <td>{{ user.age }}</td>
                    </tr>
                </tbody>
                <tfoot>

                </tfoot>
            </table>


            <p>Le doyen est {{ctrl.users | doyen}}</p>

            <form  name="myForm" novalidate ng-submit="ctrl.save(myForm)">
        <input name="inputname" ng-model="ctrl.newname" required>
        <input name="inputage" ng-model="ctrl.newage" required>
        <button type="submit">ok</button>
            </form>
        </div>
    </div>



</body>
</html>